.search{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 16px;
    background: #E8D9CD;
    transition: box-shadow 0.25s;
}

.search:focus-within {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-input{
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: black;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}



.search-input::placeholder,
.search-icon {
    color: rgba(0, 0, 0, 0.5);
}