@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    font-style: normal; 
    text-align: center;
}

.topic {
    font-weight: bold;
    font-size: 2.5rem; 
    text-align: center; 
    margin-top: 45px; 
}

.container {
    font-family: "Poppins", sans-serif;
    background-color: #EFEFE9;
    padding: 80px;
    text-align: center;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 884px; 
    margin-top: 4%;
}

div.container {
    width: 884px;
    margin-top: 45px;
}

.container label {
    display: flex;
    margin-bottom: 10px;
    margin-top: 15px;
}

div.editForm {
    text-align: end;
}

input {
    font-family: "Poppins", sans-serif;
    margin-bottom: 10px;
    padding: 5px;
}

.container button {
    font-family: "Poppins", sans-serif;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #223030;
    color: #ffffff;
    width: 165px;
    text-decoration: none;
}

#editBtn {
    margin-bottom: 50px;
    margin-top: 50px;
}

div#hours {
    font-weight: 600;
    text-align: justify;
}

p {
    font-size: larger;
}

div.final-button {
    margin-top: 25px;
}



#hours p {
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hours p span {
    display: inline-block;
    text-align: left;
}

#hours p span:first-child {
    width: 200px;
    padding-right: 40px;
}

#hours p span:last-child {
    width: 250px;
    padding-left: 20px;
}