@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.appointments {
    font-size: 28px;
    padding-bottom: 16px;
    font-weight: bold;
    margin-bottom: 26px;
    margin-top: 102px;
}



.container {
    background-color: #ffffff;
    align-items: center;    
    font-family: "Poppins", sans-serif;
    font-style: normal; 
}

.box {
    padding: 20px; 
    margin-top: 22px;
    margin-bottom: 24px;
    background-color: #EFEFE9;
    border-radius: 15px;
    position: relative;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

.box p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 10px; 
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    color: black;
}

.container .box img {
    width: 24px;
    height: auto;
    
}

.box a {
    text-decoration: none; 
    color: inherit; 
  }

.container a {
    text-decoration: none;
    color: inherit;
}

.real-time-2 h4 {
    margin-top: 70px;
}



.container .table{
    margin-top: 40px;
  }
  
  .container .table td{
    text-align: center;
    padding:20px
  }
  
  .container .table th{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
  }
  
  .container .table tr{
    font-size: 16px;
    align-items: center;
  }
  
  .container .table tr .us-name{
    text-align: left;
  }
  
  .container .table .cancel,
  .container .table .confirm{
    border-radius: 16px;
    outline: none;
    border-style: none !important;
    font-weight: 500;
    font-size: 12px;
    padding: 10px 10px;
    width: 125px
  }
  
  .container .table .confirm{
    background-color: #EFEFE9;
    margin-right: 15px;
  }
  
  .container .table .cancel{
    background-color: #EFEFE9;
  }

  .table>:not(:last-child)>:last-child>* {
    border-bottom-color: currentColor;
  }

  .real-time h4 {
    font-weight: bold;
  }

  .real-time-2 h4 {
    font-weight: bold;
}