@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-image: url(bg.jpg);
    background-size: cover;
    align-items: center;    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.container .password-options{
    display: flex;
    justify-content: center;  
    align-items: center;
}

.member-signup{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.login-form{
    background-color: #EFEFE9;
    padding: 50px 60px;
    text-align: center;
    border-radius: 25px; 
    width: 45%;
}

h1{
    justify-content: center;
    text-align: center;
}


.name{
    padding-bottom: 15px;    
}

.pass{
    padding-bottom: 50px;      
}

.login-button{
    padding: 15px 20px;
    
}

button{
    background-color: #523D35;
    height: 45px;
    width: 65%;
    font-weight: bold;
    border-style: none !important;
    outline: none !important;
    color: white !important;
    border-radius: 16px !important;

}

.inputs{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    border-style: none;
    outline:none !important;
    
}

.input-f{
    margin-bottom: 10px;
    border-radius: 75px;
    height: 50px;
    border-style: none;
    padding: 10px;
    outline: none;
}


a{
    text-decoration: none;
    color: rgb(107, 107, 107) !important;
    font-size: 10px;
    display: flex;
    align-items: center;
    
}

p{
    font-size: 12px;
    display: flex;
    
}